<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectV2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAssignServlet</display-name>
    <servlet-name>CreateAssignServlet</servlet-name>
    <servlet-class>project1.CreateAssignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAssignServlet</servlet-name>
    <url-pattern>/CreateAssignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySQLcon</display-name>
    <servlet-name>MySQLcon</servlet-name>
    <servlet-class>project1.MySQLcon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySQLcon</servlet-name>
    <url-pattern>/MySQLcon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignmentsViewServlet</display-name>
    <servlet-name>AssignmentsViewServlet</servlet-name>
    <servlet-class>project1.AssignmentsViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentsViewServlet</servlet-name>
    <url-pattern>/AssignmentsViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsibilitiesServlet</display-name>
    <servlet-name>ResponsibilitiesServlet</servlet-name>
    <servlet-class>project1.ResponsibilitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsibilitiesServlet</servlet-name>
    <url-pattern>/ResponsibilitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoreMembersServlet</display-name>
    <servlet-name>MoreMembersServlet</servlet-name>
    <servlet-class>project1.MoreMembersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoreMembersServlet</servlet-name>
    <url-pattern>/MoreMembersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTeamServlet</display-name>
    <servlet-name>CreateTeamServlet</servlet-name>
    <servlet-class>project1.CreateTeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTeamServlet</servlet-name>
    <url-pattern>/CreateTeamServlet</url-pattern>
  </servlet-mapping>
</web-app>